@media screen and (max-width: 75rem) {
  section {

    &.articles {
      max-width: 100vw;
    }
  }

  h1 {
    font-size: 3.5rem;
  }

  .card {

    &-careers {
      flex-direction: column;
    }
  }

  .td-author {
    display: none;
  }
}