//Palette

$palette-mine-shaft: #222;
$palette-red-orange: #ff2d20;
$palette-snow: #fff;
$palette-java: #31e2c2;
$palette-corn: #e5c700;
$palette-black: #000;
$palette-silver: #ccc;
$palette-wild-sand: #f5f5f5;
$palette-gallery: #ececec;
$palette-alto: #dbdbdb;
$palette-silver-chalice: #8d8d8d;

//Functional

$clr-background-body: $palette-wild-sand;
$clr-background-items: $palette-snow;
$clr-text: $palette-mine-shaft;
$clr-secondary: $palette-java;
$clr-primary: $palette-corn;
$clr-error: $palette-red-orange;
$clr-valid: $palette-java;

//Layout

$clr-h1-color: $palette-java;
$clr-h2-color: $palette-mine-shaft;

//Border

$clr-border: $palette-silver-chalice;
$clr-border-focus: $palette-java;
$clr-border-valid: $palette-java;
$clr-border-invalid: $palette-red-orange;

//Form

$clr-input-background-hover: $palette-gallery;
$clr-input-background-focus: $palette-alto;
$clr-input-border: $palette-silver;
$clr-input-border-focus: $palette-black;
$clr-input-border-hover: $palette-silver-chalice;
$clr-input-color-placeholder: $palette-silver;

//Button

$clr-button-background: $palette-snow;
$clr-button-color: $palette-java;
$clr-button-color-hover: $palette-java;
$clr-button-border: $palette-java;

$clr-button-secondary-color: $palette-silver-chalice;
$clr-button-secondary-background: $palette-snow;

//Alert

$clr-alert-color: $palette-snow;
$clr-alert-background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);

$clr-error-color: $palette-red-orange;

//Nav
$clr-nav-background: $palette-snow;
$clr-nav-link-item: $palette-mine-shaft;
$clr-nav-link-item-hover: $palette-java;

//Card

$clr-card-title: $palette-mine-shaft;
$clr-card-desc: $palette-silver-chalice;
$clr-card-author: $palette-java;
$clr-card-date: $palette-snow;
$clr-card-date-background: $palette-silver;