//Units
$duration-quick: .3s;

$primary-font: 'Poppins',
Arial;

$input-radius: .5rem;
$input-submit-radius: 5rem;

$text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);

$button-box-shadow:rgba(15, 180, 189, 0.48) 2px 5px 10px;
$button-box-shadow-hover: 0 6px 7px rgba(0, 0, 0, .1);

$box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
0 15px 40px rgba(166, 173, 201, 0.2);

$alert-box-shadow: rgba(0, 0, 0, .2) 1px 1px 5px;