/* Error: Undefined variable.
 *    ,
 * 34 |       color: $clr-nav-link-item;
 *    |              ^^^^^^^^^^^^^^^^^^
 *    '
 *   assets/sass/components/_nav.scss 34:14  @import
 *   assets/sass/components/index.scss 6:9   @import
 *   assets/sass/application.scss 2:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 34 \2502        color: $clr-nav-link-item;\a    \2502               ^^^^^^^^^^^^^^^^^^\a    \2575 \a   assets/sass/components/_nav.scss 34:14  @import\a   assets/sass/components/index.scss 6:9   @import\a   assets/sass/application.scss 2:9        root stylesheet";
}
