.card {
  width: 100%;
  text-decoration: none;
  color: $clr-card-title;
  max-height: 18.2rem;
  border-radius: 1.5rem;
  overflow: hidden;
  transform: scale(1);
  transition: $duration-quick;

  &-thumb {
    width: 30rem;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &-date {
    position: absolute;
    right: -30rem;
    top: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    color: $clr-card-date;
    background-color: $clr-card-date-background;
    box-shadow: $box-shadow;
    transition: $duration-quick;
  }

  &-title {
    color: $clr-card-title;
  }

  &-desc {
    font-size: 1.6rem;
    color: $clr-card-desc;
  }

  &-author {
    color: $clr-card-author;
    font-weight: 700;
  }

  &-article {
    grid-template-columns: 300px 1fr;
  }

  &-content {
    padding: 4rem;
    position: relative;
  }

  &:hover {
    transform: scale(1.01);
    transition: $duration-quick;
    box-shadow: $box-shadow-hover;

    .card-date {
      transition: $duration-quick;
      right: 2rem;
    }
  }
}