.table {
  margin: auto;
  border-radius: .5rem;
  overflow: hidden;
}

tbody {

  .tr {
    &:nth-child(odd) {
      background-color: $clr-table-background-even;
    }
  }
}

thead {
  .tr {
    background-color: $clr-thead-background;
    font-weight: 700;
    color: $clr-thead-color;
  }
}

.td {
  vertical-align: middle;
  padding: 0 2rem;

  a {
    color: $clr-td-color;
    text-decoration: none;

    &:last-child img{
      padding: 0;
    }
  }

  img {
    width: 1.6rem;
    vertical-align: middle;
    padding-right: 2rem;
  }

  &-title {
    font-weight: 600;
    max-width: 30rem;

    a {
      text-decoration: underline;
    }
  }

  &-actions {
    max-width: 11.6rem;
  }
}

.tr {
  height: 5.6rem;
}