footer {
  .nav {
    display: flex;
  }

  .social {
    &-links {
      grid-template-columns: repeat(6, 40px);
      justify-content: center;
      height: 4rem;
    }

    &-link {
      height: 100%;
      width: 100%;
    }
  }
}