input {
  font-size: 1.6rem;
  font-family: $primary-font;
  box-sizing: border-box;
  transition: $duration-quick;
  border-radius: $input-radius;
  padding: 1.5rem;
  padding-left: 2rem;

  &[type="text"],
  &[type="email"],
  &[type="password"] {
    border: .1rem solid $clr-input-border;

    &:focus {
      outline: none;
      border: .1rem solid $clr-input-border-focus;
    }

    &:placeholder-shown {
      background-color: inherit;
    }

    &::placeholder {
      color: $clr-input-color-placeholder;
    }

    &:hover {
      background-color: $clr-input-background-hover;
      border-color: $clr-input-border-hover;
    }

    &:focus {
      background-color: $clr-input-background-focus;
    }

    &:hover,
    &:focus {
      transition: $duration-quick;
    }

    &:invalid {
      box-shadow: none;
    }
  }
}

.form-control {

  width: 100%;

  &-label {
    font-weight: 700;
    text-shadow: $text-shadow;

    &:hover {
      cursor: pointer;
    }
  }
}