input,
textarea {
  font-size: 1.6rem;
  font-family: $primary-font;
  box-sizing: border-box;
  transition: $duration-quick;
  border-radius: $input-radius;
  padding: 1.5rem;
  padding-left: 2rem;

  &[type="text"],
  &[type="email"],
  &[type="password"] {
    border: 0.1rem solid $clr-input-border;

    &:placeholder-shown {
      background-color: inherit;
    }

    &::placeholder {
      color: $clr-input-color-placeholder;
    }

    &:hover {
      background-color: $clr-input-background-hover;
      border-color: $clr-input-border-hover;
    }

    &:hover,
    &:focus {
      transition: $duration-quick;
    }

    &:invalid {
      box-shadow: none;
    }

    &:focus {
      outline: none;
      border: 0.1rem solid $clr-input-border-focus;
      background-color: $clr-input-background-focus;
    }
  }

  &[type="submit"] {
    padding: 1.5rem 3rem;
    border: 1px solid $clr-button-border;
    border-radius: $input-submit-radius;
    background-color: transparent;
    color: $clr-button-color;

    &:hover {
      box-shadow: $box-shadow;
      cursor: pointer;
    }
  }
}

.form-control {
  width: 100%;

  &-label {
    font-weight: 700;
    text-shadow: $text-shadow;

    &:hover {
      cursor: pointer;
    }
  }
}

textarea {
  border: 0.1rem solid $clr-input-border;
  height: 50rem;

  &:placeholder-shown {
    background-color: inherit;
  }

  &::placeholder {
    color: $clr-input-color-placeholder;
  }

  &:hover {
    background-color: $clr-input-background-hover;
    border-color: $clr-input-border-hover;
  }

  &:hover,
  &:focus {
    transition: $duration-quick;
  }

  &:invalid {
    box-shadow: none;
  }

  &:focus {
    outline: none;
    border: 0.1rem solid $clr-input-border-focus;
    background-color: $clr-input-background-focus;
  }

  &.comment{
    height: 10rem;
  }
}