nav {
  height: 8rem;
  background-color: $clr-nav-background;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  box-sizing: border-box;
  z-index: 100000;

  i {
    font-size: 3rem;
  }
}

.nav {

  &-link {

    &-items {
      display: flex;
    }

    &-item {
      height: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
      justify-content: center;
      padding-left: 4rem;
      color: $clr-nav-link-item;
      transition: $duration-quick;
      font-family: $secondary-font;

      &:hover {
        transition: $duration-quick;
        color: $clr-nav-link-item-hover;
        text-shadow: $nav-link-box-shadow-hover;
      }

      .icon{
        margin: 0;
        padding-right: 1rem;
      }
    }
  }
}