nav {
  height: 8rem;
  background-color: $clr-nav-background;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  box-sizing: border-box;
  z-index: 100000;

  i {
    font-size: 3rem;
  }
}

.nav {

  &-link {

    &-items {
      display: flex;
    }

    &-item {
      height: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
      justify-content: center;
      padding-left: 4rem;
      color: $clr-nav-link-item;
      transition: $duration-quick;
      font-family: $secondary-font;

      &:hover {
        transition: $duration-quick;
        color: $clr-nav-link-item-hover;
        text-shadow: $nav-link-box-shadow-hover;
      }

      .icon {
        margin: 0;
        padding-right: 1rem;
      }
    }
  }

  &-burger {
    width: 5rem;
    height: 4rem;
    display: none;
    z-index: 100000;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transition: .3s;

    &:hover {
      cursor: pointer;
    }

    &-bar {
      height: .4rem;
      width: 4rem;
      background-color: $palette-mine-shaft;
    }
  }
}

.clicked {
  justify-content: center;
  transition: .3s;
  transform: rotate(360deg);

  .nav-burger-bar:first-child {
    display: none;
    transition: .3s;
  }
}