//Global Layout

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: $clr-background-body;
  position: relative;
}

//Functionnals classes

.valid {
  border: 1px solid $clr-valid;
}

.error {
  border: 1px solid $clr-error;
}

.bg-white {
  background-color: $clr-background-items;
  box-shadow: $box-shadow;
}

.total-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-h {
  min-height: 100vh;
}

//Titles

h1 {
  font-weight: 700;
  color: $clr-h1-color;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: $text-shadow;
}