//Global Layout

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: $clr-background-body;
  position: relative;
  padding-top: 12rem;
  padding-bottom: 4rem;
}

//Functionnals classes

.valid {
  border: 1px solid $clr-valid;
}

.error {
  border: 1px solid $clr-error;

  &-text {
    color: $clr-error-color;
    text-align: center;
  }
}

.bg-white {
  background-color: $clr-background-items;
  box-shadow: $box-shadow;
}

.total-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.m-h {
  min-height: calc(100vh - 16rem);
}

//Titles

h1 {
  font-weight: 700;
  color: $clr-h1-color;
  font-size: 6rem;
  text-align: center;
  text-shadow: $text-shadow;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: $secondary-font;
  padding: 0 4rem;
  line-height: 1.5;
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: $text-shadow;
}

h3 {
  font-family: $secondary-font;
  font-size: 2rem;
}

h2,
h3 {
  color: $clr-h2-color;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mt-4 {
  margin-top: 8rem;
}

.text {
  &-generic {
    color: $clr-text-generic-color;
    font-family: $secondary-font;
    text-align: center;
    margin: 0 2rem;
    font-size: 1.6rem;
  }
}

.logo {
  margin: auto;
  max-width: 15rem;

  &-nav {
    max-width: 4rem;
  }
}

.trail {
  position: absolute;
  z-index: 9999;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.matheo {
  display: flex;
  align-items: center;
  padding: 0 2rem;

  span {
    display: block;
    font-family: $secondary-font;
    font-size: 3rem;
  }

  .arrow {
    margin: 0 2rem;
  }

  img {
    margin: 0;
  }
}